<div class="container-fluid mt-3">
  <!--  <div class="row">-->
  <!--    <div class="mt-2 col-lg-4 col-md-12">-->
  <!--      <div class="rounded bg-bluelight p-4 h-100">-->
  <!--        <div class="mb-3 border-bottom pb-2">-->
  <!--          <div class="d-inline-block">-->
  <!--            <div class="h5 mb-0 font-weight-bold head-color">Covid-19 Cases</div>-->
  <!--            <small>Updated 3 hours ago<i class="ml-2 pointer ">-->
  <!--              <svg xmlns="http://www.w3.org/2000/svg" width="9.327" height="9.333" viewBox="0 0 9.327 9.333">-->
  <!--                <path id="Icon_material-refresh" data-name="Icon material-refresh"-->
  <!--                      d="M10.3,3.7a4.667,4.667,0,1,0,1.213,4.462H10.3A3.5,3.5,0,1,1,7,3.5,3.45,3.45,0,0,1,9.462,4.538L7.583,6.417h4.083V2.333L10.3,3.7Z"-->
  <!--                      transform="translate(-2.339 -2.333)" fill="#80b8e7"></path>-->
  <!--              </svg>-->
  <!--            </i></small></div>-->
  <!--        </div>-->
  <!--        <div class="clearfix"></div>-->
  <!--        <div class="mb-3 row">-->
  <!--          <div class="col-6">-->
  <!--            <div class="font-weight-bold h5">Nepal Update</div>-->
  <!--            <div class="mb-3 small-xs">(Nepal Govt. reported numbers)</div>-->
  <!--            <div class="">Total Tested</div>-->
  <!--            <div class="h3 m-0 font-weight-bold  d-inline-block">687</div>-->
  <!--            <div class="mt-3">Total Confirmed</div>-->
  <!--            <div class="h3 m-0 font-weight-bold  d-inline-block">3</div>-->
  <!--            <div class="mt-3">Total Recovered</div>-->
  <!--            <div class="h3 m-0 font-weight-bold d-inline-block ">1</div>-->
  <!--            <div class="mt-3">Total Deaths</div>-->
  <!--            <div class="h3 m-0 font-weight-bold d-inline-block">0</div>-->
  <!--          </div>-->
  <!--          <div class="col-6">-->
  <!--            <div class="font-weight-bold h5">Global Update</div>-->
  <!--            <div class="invisible small-xs mb-3">(WHO reported numbers)</div>-->
  <!--            <div class="invisible">-->
  <!--              <div class="mt-3">Total Tested</div>-->
  <!--              <div class="h3 m-0 font-weight-bold  d-inline-block"> 471,518</div>-->
  <!--            </div>-->
  <!--            <div class="mt-3">Total Confirmed</div>-->
  <!--            <div class="h3 m-0 font-weight-bold  d-inline-block"> 471,518</div>-->
  <!--            <div class="mt-3">Total Recovered</div>-->
  <!--            <div class="h3 m-0 font-weight-bold d-inline-block "> 114,444</div>-->
  <!--            <div class="mt-3">Total Deaths</div>-->
  <!--            <div class="h3 m-0 font-weight-bold d-inline-block"> 21,293</div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <small>*Disclaimer: These numbers are obtained from <a class="text-white" target="_blank"-->
  <!--                                                               href="https://heoc.mohp.gov.np/">Nepal Government</a> and-->
  <!--          <a-->
  <!--            class="text-white" target="_blank" href="https://coronavirus.jhu.edu/map.html"> Johns Hopkins University</a>-->
  <!--          and-->
  <!--          being updated as the numbers from these sources get updated.</small></div>-->
  <!--    </div>-->
  <!--    <div class="mt-2 col-lg-8 col-md-12">-->
  <!--      <div class="rounded bg-bluelight h-100 overflow-hidden">-->
  <!--        <div class="row">-->
  <!--          <div class="col-sm-12">-->
  <!--            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">-->
  <!--              <li class="nav-item">-->
  <!--                <a class="nav-link" id="Hospitals-tab" data-toggle="tab" href="#hospitals" role="tab"-->
  <!--                   aria-controls="hospitals"-->
  <!--                   aria-selected="true">Hospitals</a>-->
  <!--              </li>-->
  <!--              <li class="nav-item">-->
  <!--                <a class="nav-link active" id="symptoms-tab" data-toggle="tab" href="#symptoms" role="tab"-->
  <!--                   aria-controls="symptoms"-->
  <!--                   aria-selected="false">Symptoms</a>-->
  <!--              </li>-->
  <!--            </ul>-->
  <!--          </div>-->
  <!--          <div class="text-white col-sm-12">-->
  <!--            <div class="tab-content">-->
  <!--              <div class="tab-pane" id="hospitals" role="tabpanel" aria-labelledby="hospitals-tab">-->
  <!--                <div class="px-3 py-4">-->
  <!--                  <div class="h5 m-0 d-flex"><span class="mr-3">-->
  <!--                  <img alt="" src="./assets/images/hlogo.svg">-->
  <!--                  </span>-->
  <!--                    <div>Hospitals where you may get tested for Covid-19</div>-->
  <!--                  </div>-->
  <!--                  <div class="mt-4">-->
  <!--                    <div class="table-responsive">-->
  <!--                      <table class="text-white h-50 table">-->
  <!--                        <thead>-->
  <!--                        <tr>-->
  <!--                          <th>Hospital Name</th>-->
  <!--                          <th class="w-110">Open Hours</th>-->
  <!--                          <th>Phone Number</th>-->
  <!--                          <th class="w-76"></th>-->
  <!--                        </tr>-->
  <!--                        </thead>-->
  <!--                        <tbody>-->
  <!--                        <tr>-->
  <!--                          <td>-->
  <!--                            <div>Patan Hospital</div>-->
  <!--                          </td>-->
  <!--                          <td class="text-center">-->
  <!--                            <div>24 hrs</div>-->
  <!--                            <small>Sunday - Saturday</small></td>-->
  <!--                          <td class="align-middle"><a class="text-white" href="tel:01-5522295">01-5522295</a></td>-->
  <!--                          <td><a href="javascript:void(0)" class="text-white small" style="cursor: pointer;">More-->
  <!--                            info</a>-->
  <!--                          </td>-->
  <!--                        </tr>-->
  <!--                        <tr>-->
  <!--                          <td>-->
  <!--                            <div>Sukraraj Tropical And Infectious Disease Hospital</div>-->
  <!--                          </td>-->
  <!--                          <td class="text-center">-->
  <!--                            <div>8 AM - 3 PM</div>-->
  <!--                            <small>Sunday - Friday</small></td>-->
  <!--                          <td class="align-middle"><a class="text-white" href="tel:01-4253395">01-4253395</a></td>-->
  <!--                          <td><a href="javascript:void(0)" class="text-white small" style="cursor: pointer;">More-->
  <!--                            info</a>-->
  <!--                          </td>-->
  <!--                        </tr>-->
  <!--                        </tbody>-->
  <!--                      </table>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--              <div class="tab-pane active" id="symptoms" role="tabpanel" aria-labelledby="symptoms-tab">-->
  <!--                <div class="px-3 py-4">-->
  <!--                  <div class="info-title mx-5">If you believe you have been exposed to COVID-19 and develop symptoms-->
  <!--                    like-->
  <!--                    fever, cough and difficulty of breathing, call your doctor!-->
  <!--                  </div>-->
  <!--                  <div class="mt-4 bg-white px-4 py-3 media"><img alt="High Fever" src="./assets/images/high_fever.png"-->
  <!--                                                                  class="align-self-center mr-3">-->
  <!--                    <div class="align-self-center media-body">-->
  <!--                      <div class="text-danger font-weight-bold h6">High Fever</div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                  <div class="mt-4 bg-white px-4 py-3 media"><img alt="Ait Transmission"-->
  <!--                                                                  src="./assets/images/dry_cough.png"-->
  <!--                                                                  class="align-self-center mr-3">-->
  <!--                    <div class="align-self-center media-body">-->
  <!--                      <div class="text-danger font-weight-bold h6">Dry Cough</div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                  <div class="mt-4 bg-white px-4 py-3 media"><img alt="Use Nose Rag"-->
  <!--                                                                  src="./assets/images/breath_problem.svg"-->
  <!--                                                                  class="align-self-center mr-3">-->
  <!--                    <div class="align-self-center media-body">-->
  <!--                      <div class="text-danger font-weight-bold h6">Difficulty in breathing</div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--  </div>-->
  <app-map (mapClickEvent)="mapClicked($event)"></app-map>
  <div class="mt-2 col-lg-6 col-md-12 information" *ngIf="showInfo">
    <div class="rounded bg-bluelight h-100 overflow-hidden">
      <div class="mt-2 col-lg-12 col-md-12">
        <div *ngIf="loading$ && RLoading$ && GRLoading$ | async" class="loader"></div>
        <div class="rounded bg-bluelight p-4 h-100">
          <div class="mb-3 border-bottom pb-2">
            <div class="d-inline-block wi-100">
              <div class="h5 mb-0 font-weight-bold head-color">
                Covid-19 Cases
                <span class="cross"
                      (click)="showInfo=!showInfo">X</span>
              </div>
            </div>

          </div>
          <div class="clearfix"></div>
          <div class="mb-3 row">
            <div class="col-6">
              <div
                class="font-weight-bold h5">{{information.error !== "Unable to geocode" ? information['address']['country'] : ""}}
                Update
              </div>
              <div class="mb-3 small-xs">
                ({{information.error !== "Unable to geocode" ? information['address']['country'] : ""}} Govt. reported
                numbers)
              </div>
              <div class="invisible">
                <div class="">Total Tested</div>
                <div class="h3 m-0 font-weight-bold  d-inline-block">687</div>
              </div>
              <div class="mt-3">Total Confirmed</div>
              <div class="h3 m-0 font-weight-bold  d-inline-block">{{report['confirmed']}}</div>
              <div class="mt-3">Total Recovered</div>
              <div class="h3 m-0 font-weight-bold d-inline-block ">{{report['recovered']}}</div>
              <div class="mt-3">Total Deaths</div>
              <div class="h3 m-0 font-weight-bold d-inline-block">{{report['deaths']}}</div>
            </div>
            <div class="col-6">
              <div class="font-weight-bold h5">Global Update</div>
              <div class="invisible small-xs mb-3">(WHO reported numbers)</div>
              <div class="invisible">
                <div class="mt-3">Total Tested</div>
                <div class="h3 m-0 font-weight-bold  d-inline-block"> 471,518</div>
              </div>
              <div class="mt-3">Total Confirmed</div>
              <div class="h3 m-0 font-weight-bold  d-inline-block"> {{globalReport['confirmed']}}</div>
              <div class="mt-3">Total Recovered</div>
              <div class="h3 m-0 font-weight-bold d-inline-block ">{{globalReport['recovered']}}</div>
              <div class="mt-3">Total Deaths</div>
              <div class="h3 m-0 font-weight-bold d-inline-block"> {{globalReport['deaths']}}</div>
            </div>
          </div>
          <small>*Disclaimer: These numbers are obtained from
            <a
              class="text-blue" target="_blank" href="https://coronavirus.jhu.edu/map.html"> Johns Hopkins
              University</a>
            and
            being updated as the numbers from these sources get updated.</small></div>
      </div>
    </div>
  </div>
</div>

